---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
LineEnding: LF
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket: true
#BreakBeforeBraces: Stroustrup
ColumnLimit: 0
InsertBraces: true
---
